.fundo {
    background-color: blueviolet;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    top: 50%;
    border-radius: 20px;
    padding: 10px;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border: none;
    color: white;
    margin: 3px;
}

.botao:hover {
    background-color: black;
}

.botao2 {
    width: 50px;
    height: 106px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border: none;
    color: white;
    margin: 3px;
}

.botao3 {
    width: 106px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border: none;
    color: white;
    margin: 3px;
}
 
#resultado {
    width: 215px;
    height: 30px;
    background-color: white;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
    overflow: hidden;
}

.nome {
    margin-top: 30px;
}